* {
    margin: 0;
}

.background {
    background-color: #BFB59E;
}

.down{
    margin-top: 3rem;
}

.down1{
    margin-top: 1rem;
}

.marg-b-1{
    margin-bottom: 1rem;
}

.marg-b-2{
    margin-bottom: 2rem;
}

.marg-l-1{
    margin-left: 1rem;
}

.center {
    display: flex;
    justify-content: center;
}

.height-4{
    height: 4rem;
}

.height-8{
    height: 8rem;
}

.page-back {
    display: flex;
    justify-content: center;
    background-color: #858786;
    background-size: cover;
}

/* Header css */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B0504;
}

#nav-section{
    margin-right: 3rem;
}

#title-header{
    margin-left: 3rem;
}

#title-ln1 {
    color: beige;
    font-family: 'Rampart One', cursive;
}

#title-ln2{
    color: beige;
    font-family: 'Rampart One', cursive;
    margin-left: 6rem;
}

.nav-btn {
    background-color: #2B6782;
    color: beige;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 2.25rem;
}

.header-border {
    background-color: #2B6782;
    height: .8rem;
}


/* battle page */

#holders{
    display: flex;
    justify-content: space-evenly;
}

.cent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* account page */

.size {
    height: 13rem;
    width: 16rem;
    margin-right: 3rem;
}

#account-info-box{
    display: flex;
    justify-content: space-evenly;
}

.pic-and-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-name-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* battle page */

.player-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #858786;
    width: 20rem;
    box-shadow: 0px 0px 5px black;
}

.add-button {
    background-color: #2B6782;
    color: whitesmoke;
    width: 8rem;
    height: 2rem;
    box-shadow: 3px 0px 10px black;
    border-radius: .5rem;
}

.add-button:hover{
    background-color: #6B0504;
    color: steelblue;
}

.char-health-font{
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 2px 10px black;
}

.view-button{
    width: 5rem;
    color: beige;
    background-color: #2B6782;
}

.view-button:hover{
    cursor: pointer;
    background-color: #6B0504;
}

/* character display */

.char-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-name-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    background-color: #858786;
    color: #6B0504;
    font-family: sans-serif;
    height: 3rem;
    width: 18rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 8px black;
    text-shadow: 0px 0px 8px beige;
}

.character-sheet{
    display: flex;
    justify-content: center;
    background-image: url(/static/site_pics/Fantasy-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.attributes-panel{
    display: flex;
    justify-content: center;
}

.char-health{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-sides {
    display: flex;
    justify-content: center;
    color: beige;
    width: 9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #858786;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black;
}

.descript{
    display: flex;
    justify-content: center;
    padding: .5rem;
    width: 25rem;
    background-color: #858786;
    color: beige;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black;
}

.info {
    display: flex;
    justify-content: center;
}

.character-buttons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.background-character {
    background-color: #BFB59E;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    padding: 3rem;
}

/* monster display */

.character-sheet-monster{
    display: flex;
    justify-content: center;
    background-image: url(#);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.background-monster{
    background-color: #BFB59E;
    height: 20rem;
    margin-top: 8rem;
    padding: 3rem;
    border-radius: 1rem;
}

/* create shop */

.background-character-2 {
    background-color: #BFB59E;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    padding: 3rem;
    width: 30rem;
}

.back {
    display: flex;
    justify-content: center;
    background-image: url(/static/site_pics/Shop-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* login/register */

.background-login-1 {
    background-color: #BFB59E;
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    width: 50rem;
}

/* makemonster */

.page-back-monster {
    display: flex;
    justify-content: center;
    background-image: url(/static/site_pics/monster-background.jpg);
    background-size: cover;
}

.background-makemonster-1 {
    background-color: #BFB59E;
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    width: 50rem;
}

/* make player */

.background-player-1 {
    background-color: #BFB59E;
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    width: 50rem;
}

.page-back-player {
    display: flex;
    justify-content: center;
    background-image: url(/static/site_pics/party_pic.webp);
    background-size: contain;
}