{% extends 'base.html' %}
{% block content %}
<body class="background">
    <section class="container" id="holders">
        <section class="container cent down1">
            <a class="cent add-button" href="{{ url_for('createplayer') }}">Add Player</a>
            {% for player in characters %}
            <div class="player-cards">
                <section class="char-name">
                    <h3>{{ player.character_name }}</h3>
                </section>
                <section class="char-health">
                    <p class="char-health-font">Total HP: {{ player.total_hp }}</p>
                    <p class="char-health-font">Current HP: {{ player.current_hp }}</p>
                </section>
                <a class="marg-b-1" href="{{ url_for('character', character_id=player.id) }}"><button class="view-button">View</button></a>
            </div>
            {% endfor %}
        </section>
        <section class="container cent down1">
            <a class="cent add-button" href="{{ url_for('createmonster') }}">Add Monster</a>
            {% for monster in monsters %}
            <div class="player-cards">
                <section class="char-name">
                    <h3>{{ monster.monster_name }}</h3>
                </section>
                <section class="char-health">
                    <p class="char-health-font">Total HP: {{ monster.total_hp }}</p>
                    <p class="char-health-font">Current HP: {{ monster.current_hp }}</p>
                </section>
                <a class="marg-b-1" href="{{ url_for('monster', monster_id=monster.id) }}"><button class="view-button">View</button></a>
            </div>
            {% endfor %}
        </section>
    </section>
</body>
{% endblock content %}