{% extends 'base.html' %}
{% block content %}
<section class="character-sheet">
  <div class="background-character">
    <section class="char-name-section">
      <h3 class="char-name">{{ character.character_name }}</h3>
    </section>
    <section class="char-health">
      <p class="border-sides">Total HP: {{ character.total_hp }}</p>
      <p class="border-sides">Current HP: {{ character.current_hp }}</p>
      <p class="border-sides">Armor Class: {{ character.armor_class }}</p>
    </section>
    <section class="attributes-panel">
      <section class="attributes">
        <p class="border-sides">Strength: {{ character.strength }}</p>
        <p class="border-sides">Dexterity: {{ character.dexterity }}</p>
        <p class="border-sides">Constitution: {{ character.constitution }}</p>
      </section>
      <section class="attributes">
        <p class="border-sides">Intelligence: {{ character.intelligence }}</p>
        <p class="border-sides">Wisdom: {{ character.wisdom }}</p>
        <p class="border-sides">Charisma: {{ character.charisma }}</p>
      </section>
    </section>
      <section class="info">
        <p class="descript">Description: {{ character.char_bio }}</p>
      </section>
    {% if character.author == current_user %}
    <div class="character-buttons">
      <a href="{{ url_for('update_character', character_id=character.id) }}"><button class="view-button view-button marg-l-1">Update</button></a>
      <button class="view-button marg-l-1" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
      {% endif %}
      <a href="{{ url_for('battle') }}"><button class="view-button marg-l-1">Return</button></a>
    </div>
  </div>
</section>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Character</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_character', character_id=character.id) }}" method="POST">
              <input type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}