{% extends 'base.html' %}
{% block content %}
<section class="whole-page-references">
    <section class="shop-list">
        <div class="center">
            <a class="center add-button" href="{{ url_for('createshop') }}">Create Shop</a>
        </div>
        {% for shop in shops %}
        <div class="player-cards">
            <section class="char-name marg-t-1">
                <h3 class="char-health-font">{{ shop.shop_name }}</h3>
            </section>
            <section class="owner">
                <p class="char-health-font">{{ shop.shop_owner }}</p>
            </section>
            <a href="{{ url_for('shop', shop_id=shop.id) }}"><button class="view-button marg-b-1">View</button></a>
        </div>
        {% endfor %}
    </section>
    <section class="monster-ref">
        <div class="monster-name-section">
            <h3 class="char-name">Monster Reference</h3>
        </div>
        <div class="border-sides-reference">
            <form id="form1" action="{{ url_for('reference') }}" method="POST" enctype="multipart/form-data">
                <label for="monster">Monsters:</label>
                <select id="monster-menu" name="monster">
                    {% for monst in monsters %}
                    <option value="{{ monst }}">{{ monst }}</option>
                    {% endfor %}
                </select>
                <input class="view-button" type="submit" value="Submit">
            </form>
        </div>
        <div class="center-ref">
            <section class="other-info">
                <h2 class="title-ref">{{ mname }}</h2>
                <p class="border-sides">Size: {{ msize }}</p>
                <p class="border-sides">Type: {{ mtype }}</p>
                <p class="border-sides">Speed: {{ mspeed }}</p>
                <p class="border-sides">Armor Class: {{ mac }}</p>
                <p class="border-sides">Hit Points: {{ mhp }}</p>
                <p class="border-sides">Dice: {{ mdice }}</p>
                <p class="border-sides">Challange: {{ mchallenge }}</p>
            </section>
            <div class="reference-center">
                <div class="twos">
                    <p class="border-sides">Str: {{ mstr }}</p>
                    <p class="border-sides">Dex: {{ mdex }}</p>
                </div>
                <div class="twos">
                    <p class="border-sides">Const: {{ mconst }}</p>
                    <p class="border-sides">Int: {{ mint }}</p>
                </div>
                <div class="twos">
                    <p class="border-sides">Wis: {{ mwis }}</p>
                    <p class="border-sides">Char: {{ mchar }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="weapons">
        <div class="border-sides-reference">
            <form id="form1" action="{{ url_for('reference') }}" method="POST" enctype="multipart/form-data">
                <label for='melee'>Melee Weapons:</label>
                <select id="melee-select" name="melee">
                    {% for melees in melee %}
                    <option value='{{melees}}'>{{melees}}</option>
                    {% endfor %}
                </select>
                <input class="view-button" type="submit" value="Submit">
            </form>
        </div>
        <section>
            <h2 class="title-ref">{{ wname }}</h2>
            <p class="border-sides">Catigory: {{ wcat }}</p>
            <p class="border-sides">Dice: {{ wdice }}</p>
            <p class="border-sides">Type: {{ wdtype }}</p>
            <p class="border-sides">Cost: {{ wcost }} {{ wcostunit }}</p>
        </section>
        <section id="ranged">
            <div class="border-sides-reference">
                <form id="form1" action="{{ url_for('reference') }}" method="POST" enctype="multipart/form-data">
                    <label for="ranged">Ranged Weapons:</label>
                    <select id="ranged-select" name="ranged">
                        {% for ranged in range %}
                        <option value="{{ ranged }}">{{ ranged }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </div>
            <section>
                <h2 class="title-ref">{{ rname }}</h2>
                <p class="border-sides">Catigory: {{ rcat }}</p>
                <p class="border-sides">Dice: {{ rdice }}</p>
                <p class="border-sides">Type: {{ rdtype }}</p>
                <p class="border-sides">Cost: {{ rcost }} {{rcostunit}}</p>
            </section>
        </section>
        <section id="potion-stats">
            <p>Healing 2d4+2</p>
            <p>Greater Healing 4d4+4</p>
            <p>Superior Healing 8d4+8</p>
            <p>Supreme Healing 10d4+20</p>
        </section>
    </section>
</section>
{% endblock content %}