{% extends 'base.html' %}
{% block content %}
<section class="shop-list">
    <div class="create">
        <a href="{{ url_for('createshop') }}">Create Shop</a>
    </div>
    {% for shop in shops %}
            <div class="player-cards">
                <section class="char-name">
                    <h3>{{ shop.shop_name }}</h3>
                </section>
                <section class="owner">
                    <p>{{ shop.shop_owner }}</p>
                </section>
                <a href="{{ url_for('shop', shop_id=shop.id) }}">View</a>
            </div>
        {% endfor %}
</section>
<section>
    <div>
        <h3>Monster Reference</h3>
    </div>
    <div>
        <form id="form1" action="{{ url_for('reference') }}" method="POST" enctype="multipart/form-data">
            <label for="monster">Monsters:</label>
            <select id="monster-menu" name="monster">
                {% for monst in monsters %}
                <option value="{{ monst }}">{{ monst }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <h2>{{ mname }}</h2>
        <p>Size: {{ msize }}</p>
        <p>Type: {{ mtype }}</p>
        <p>Speed: {{ mspeed }}</p>
        <p>Armor Class: {{ mac }}</p>
        <p>Hit Points: {{ mhp }}</p>
        <p>Dice: {{ mdice }}</p>
        <p>Challange: {{ mchallenge }}</p>
        <div>
            <div>
                <p>Str: {{ mstr }}</p>
                <p>Dex: {{ mdex }}</p>
            </div>
            <div>
                <p>Const: {{ mconst }}</p>
                <p>Int: {{ mint }}</p>
            </div>
            <div>
                <p>Wis: {{ mwis }}</p>
                <p>Char: {{ mchar }}</p>
            </div>
        </div>
    </div>
</section>
<section class="weapons">
    <form id="form1" action="{{ url_for('reference') }}" method="POST" enctype="multipart/form-data">
        <label for='melee'>Melee Weapons:</label>
        <select id="melee-select" name="melee">
            {% for melees in melee %}
            <option value='{{melees}}'>{{melees}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <section>
        <h2>{{ wname }}</h2>
        <p>Catigory: {{ wcat }}</p>
        <p>Dice: {{ wdice }}</p>
        <p>Type: {{ wdtype }}</p>
        <p>Cost: {{ wcost }} gp</p>
    </section>
    <section id="ranged">
        <form id="form1" action="{{ url_for('reference') }}" method="POST" enctype="multipart/form-data">
            <label for="ranged">Ranged Weapons:</label>
            <select id="ranged-select" name="ranged">
                {% for ranged in range %}
                <option value="{{ ranged }}">{{ ranged }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        <section>
            <h2>{{ rname }}</h2>
        <p>Catigory: {{ rcat }}</p>
        <p>Dice: {{ rdice }}</p>
        <p>Type: {{ rdtype }}</p>
        <p>Cost: {{ rcost }} gp</p>
        </section>
    </section>
</section>
{% endblock content %}