{% extends 'base.html' %}
{% block content %}
<section class="character-sheet-shop">
  <section class="background-shop">
    <section>
      <div class="shop-center">
        <h1 class="shop-name-section">{{ shop.shop_name }}</h1>
        <h2 class="border-sides-shop">{{ shop.shop_owner }}</h2>
      </div>
      <div>
        <p class="descript">{{ shop.inventory }}</p>
      </div>
    </section>
    <div class="character-buttons">
      <a href="{{ url_for('update_shop', shop_id=shop.id) }}"><button class="view-button marg-l-1">Update</button></a>
      {% if shop.author == current_user %}
      <button class="view-button marg-l-1" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
      {% endif %}
      <a href="{{ url_for('reference') }}"><button class="view-button marg-l-1">Return</button></a>
    </div>
  </section>
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Shop</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="view-button" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_shop', shop_id=shop.id) }}" method="POST">
              <input class="view-button" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}