{% extends 'base.html' %}
{% block content %}
<section class="whole-page-spell">
    <section class="border-sides-spells">
        <section class="flex-order">
            <section>
                <form id="form1" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='cantrip-spell'>Cantrip:</label>
                    <select name="cantrip-spell">
                        {% for spell in spellcant %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
            <section class="marg-l-1">
                <form id="form2" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl1-spell'>Lvl 1:</label>
                    <select name="lvl1-spell">
                        {% for spell in spell1 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
            <section class="marg-l-1">
                <form id="form3" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl2-spell'>Lvl 2:</label>
                    <select name="lvl2-spell">
                        {% for spell in spell2 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
        </section>
        <section class="flex-order">
            <section class="marg-l-1">
                <form id="form4" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl3-spell'>Lvl 3:</label>
                    <select name="lvl3-spell">
                        {% for spell in spell3 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
            <section class="marg-l-1">
                <form id="form5" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl4-spell'>Lvl 4:</label>
                    <select name="lvl4-spell">
                        {% for spell in spell4 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
            <section class="marg-l-1">
                <form id="form6" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl5-spell'>Lvl 5:</label>
                    <select name="lvl5-spell">
                        {% for spell in spell5 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
        </section>
        <section class="flex-order">
            <section class="marg-l-1">
                <form id="form7" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl6-spell'>Lvl 6:</label>
                    <select name="lvl6-spell">
                        {% for spell in spell6 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
            <section class="marg-l-1">
                <form id="form8" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl7-spell'>Lvl 7:</label>
                    <select name="lvl7-spell">
                        {% for spell in spell7 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
            <section class="marg-l-1">
                <form id="form9" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl8-spell'>Lvl 8:</label>
                    <select name="lvl8-spell">
                        {% for spell in spell8 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
        </section>
        <section>
            <section class="marg-l-1">
                <form id="form10" action="{{ url_for('spells') }}" method="POST" enctype="multipart/form-data">
                    <label for='lvl9-spell'>Lvl 9:</label>
                    <select name="lvl9-spell">
                        {% for spell in spell9 %}
                        <option value="{{ spell }}">{{ spell }}</option>
                        {% endfor %}
                    </select>
                    <input class="view-button" type="submit" value="Submit">
                </form>
            </section>
        </section>
    </section>
    <section class="spell-info">
        <section id="spell-name">
            <h2 class="spell-sect-name">{{ sname }}</h2>
        </section>
        <section id="spell-item-section">
            <section class="spell-items-info">
                <p class="spell-sect">Range: {{ srange }}</p>
                <p class="spell-sect">Components: {{ scomponents }}</p>
                <p class="spell-sect">Material: {{ smaterial }}</p>
                <p class="spell-sect">Is it a ritual spell: {{ sritual }}</p>
            </section>
            <section class="spell-items-info">
                <p class="spell-sect">Duration: {{ sduration }}</p>
                <p class="spell-sect">Concentration: {{ sconcentration }}</p>
                <p class="spell-sect">Casting time: {{ scasting_time }}</p>
                <p class="spell-sect">Spell level: {{ slevel }}</p>
                <p class="spell-sect">Spell School: {{ sschool }}</p>
            </section>
            <section class="spell-sect-comp">
                <h5>Component legend:</h5>
                <p>V = Verbal</p>
                <p>S = Somatic</p>
                <p>M = Material</p>
            </section>
        </section>
        <section id="spell-damage">
            <section id="spell-damage-type">
                <p class="spell-sect">Attack type: {{ sattack_type }}</p>
                <p class="spell-sect">Damage type: {{ sdamage_type }}</p>
            </section>
            <section class="spell-damage-dice">
                <p class="spell-sect">Spell damage level 1: {{ sdal_1 }}</p>
                <p class="spell-sect">Spell damage level 2: {{ sdal_2 }}</p>
                <p class="spell-sect">Spell damage level 3: {{ sdal_3 }}</p>
                <p class="spell-sect">Spell damage level 4: {{ sdal_4 }}</p>
            </section>
            <section class="spell-damage-type">
                <p class="spell-sect">Spell damage level 5: {{ sdal_5 }}</p>
                <p class="spell-sect">Spell damage level 6: {{ sdal_6 }}</p>
                <p class="spell-sect">Spell damage level 7: {{ sdal_7 }}</p>
                <p class="spell-sect">Spell damage level 8: {{ sdal_8 }}</p>
                <p class="spell-sect">Spell damage level 9: {{ sdal_9 }}</p>
            </section>
        </section>
        <section id="spell-box">
            <section id="spell-descript">
                <p>Description: {{ sdesc }}</p>
                <p>At higher level: {{ shigher_level }}</p>
            </section>
        </section>
    </section>
</section>
{% endblock content %}